body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: wheat;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    margin: 5px auto;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #6f24e0;
    color: black;
  }

  .content {
    padding: 20px;
  }

  a{
    text-decoration: none;
  }

  

